
button.submit {
  display: block;
  width: 100%;
  padding: var(--spacing-m);
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-accent-1);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: var(--spacing-m);
}

button.submit:hover {
  background-color: var(--color-accent-2);
}

button.submit:active {
  background-color: var(--color-hover);
}
