/* Contenedor de los botones */
button-container {
  display: flex;
  gap: var(--spacing-s); /* Espaciado entre los botones */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
}

/* Estilo individual de los botones */
button.del-btn {
  background-color: var(--color-light-1);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

button.del-btn img {
  width: 60%;
  height: auto;
  pointer-events: none;
}

button.del-btn:hover {
  background-color: red;
  transform: scale(1.1);
}

button.del-btn:hover img {
  filter: invert(1);
}
