button.del-btn {
  background-color: var(--color-light-1); 
  border: none;
  width: 50px; 
  height: 50px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
  transition: all 0.3s ease;
}

button.del-btn img {
  width: 80%; 
  height: 80%; 
  object-fit: contain; /* Mantiene las proporciones del ícono */
  pointer-events: none; 
}

button.del-btn:hover {
  background-color: red; 
  transform: scale(1.1); 
}

button.del-btn:hover img {
  filter: invert(1); 
  transition: all 0.3s ease;
}

button.del-btn.full-red {
  background-color: red;
  color: white; 
  border: none;
  border-radius: var(--border-radius-s);
  padding: 12px 24px; 
  font-size: 1rem; 
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
  width: auto; 
  height: auto; 
}

button.del-btn.full-red:hover {
  background-color: darkred; 
  transform: scale(1.05); 
}


#del-event div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px; 
  background-color: var(--color-light-2);
  padding: 20px;
  border-radius: var(--border-radius-l);
  max-width: 320px; 
  text-align: center; 
}

#del-event button.del-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: var(--border-radius-s); 
  padding: 12px 24px; 
  font-size: 1rem; 
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
  width: auto; 
  height: auto; 
}

#del-event button.del-btn:hover {
  background-color: darkred; 
  transform: scale(1.05); 
}
