/* Contenedor principal del nav */
ul.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--spacing-l); 
}

header li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

header li > a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; 
  bottom: 0;
  left: 50%;
  border-bottom: 3px solid var(--color-accent-1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}

header li > a:hover::before {
  width: 100%;
  left: 0;
}

header li.current-location > a::before {
  border-bottom: 3px solid var(--color-accent-1);
  left: 0;
  width: 100%;
}


header li {
  margin: 0 10px; 
}


#menu-login {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  background-color: var(--color-light-2);
  padding: 0;
  gap: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}


#log-link.open #menu-login {
  max-height: 100px;
  padding: var(--spacing-s);
}


#log-link {
  display: flex;
  align-items: center;
  justify-content: center;
}


#menu-login a {
  background-color: var(--color-accent-1);
  color: var(--color-light-1);
  text-align: center;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

#menu-login a:hover {
  background-color: var(--color-accent-2);
  color: var(--color-light-2);
  transform: scale(1.05);
}
